<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Sistema de cursos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/cursos">Cursos<span class="sr-only">(current)</span></a>
        {{#if aspirante}}
        <li class="nav-item">
          <a class="nav-link" href="/inscripciones">Inscripciones</a>
        </li>        
        {{/if}}
      </li>
      {{#if coordinador}}
      <li class="nav-item">
        <a class="nav-link" href="/inscripciones/verinscripciones">Inscripciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Usuarios</a>
      </li>
      {{/if}}
      <li>
         <a class="nav-link" href="/login/salir">Salir</a>
      </li>
    </ul>
  </div>
</nav>