{{>navbar}}
<div class="row">
  <h1>Listado de usuarios</h1>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Documento</th>
      <th scope="col">Nombre</th>
      <th scope="col">Correo</th>      
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each listaUsuarios}}
    <tr>
      <td scope="row">{{docUsuario}}</td>
      <td>{{nombreUsuario}}</td>
      <td>{{emailUsuario}}</td>      
      <td><a class="btn btn-info" href="/usuarios/editar/{{docUsuario}}">Editar</a></td>
    </tr>
    {{/each}}
</table>