{{>navbar}}
<div class="row">
  <h1>Registro de nuevo usuario</h1>
</div>
<form method="POST" enctype="multipart/form-data">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="docUsuario">Documento de identidad</label>
      <input type="number" required="required" class="form-control" id="docUsuario" name="docUsuario">
    </div>
    <div class="form-group col-md-6">
      <label for="nombreUsuario">Nombre</label>
      <input type="text" required="required" class="form-control" id="nombreUsuario" name="nombreUsuario">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="emailUsuario">Correo Electrónico</label>
      <input type="email" required="required" class="form-control" id="emailUsuario" name="emailUsuario">
    </div>
    <div class="form-group col-md-6">
      <label for="telUsuario">Telefono</label>
      <input type="text" required="required" class="form-control" id="telUsuario" name="telUsuario">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="pswUsuario">Constraseña</label>
      <input type="password" class="form-control" id="pswUsuario" name="pswUsuario">
    </div>
    <div class="form-group col-md-6">
      <label for="pswConfirmaUsuario">Confirmar constraseña</label>
      <input type="password" class="form-control" id="pswConfirmaUsuario" name="pswConfirmaUsuario">
    </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-6">
      <label for="fotoUsuario">Foto de perfil</label>
      <input type="file" class="form-control" id="fotoUsuario" name="fotoUsuario" accept="image/*">
  </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <a class="btn btn-primary" href="/" tabindex="-1" aria-disabled="true">Salir</a>
    </div>
  </div>
</form>


