{{>navbar}}
<form method="POST" class="form-signin text-center">
  <h1>Sistema de Cursos</h1>
  <label for="docLogin" class="sr-only">Documento de identidad</label>
  <input type="number" required="required" class="form-control" id="docLogin" name="docLogin" placeholder="Documento de identidad">
  <label for="pswLogin" class="sr-only">Constraseña</label>
  <input type="password" class="form-control" id="pswLogin" name="pswLogin" placeholder="Contraseña">
  <button type="submit" class="btn btn-primary">Ingresar</button>
  <a class="btn btn-primary" href="/usuarios/nuevo" tabindex="-1" aria-disabled="true">Registro</a>
</form>

<link rel="stylesheet" href="/css/login.css">