<form method="POST" class="form-signin">
  <h1>Sistema de Cursos</h1>
  <label for="docLogin" class="sr-only">Documento de identidad</label>
  <input type="number" required="required" class="form-control" id="docLogin" name="docLogin" placeholder="Documento de identidad">
  <label for="pswLogin" class="sr-only">Constraseña</label>
  <input type="password" class="form-control" id="pswLogin" name="pswLogin" placeholder="Contraseña">
  <button type="submit" class="btn btn-primary">Ingresar</button>
</form>

{{#if mensajeExito}}
<div class="alert alert-success" role="alert">
  {{mensajeExito}}
</div>
{{/if}}
{{#if mensajeError}}
<div class="alert alert-danger" role="alert">
  {{mensajeError}}
</div>
{{/if}}
<link rel="stylesheet" href="/css/login.css">