{{>navbar}}
<div class="row">
  <h1>Listado de usuarios inscritos</h1>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Documento</th>
      <th scope="col">Nombre</th>
      <th scope="col">Telefono</th>   
      <th scope="col">Correo</th>
    </tr>
  </thead>
  <tbody>
    {{#each inscritos}}
    <tr>
      <td scope="row">{{idUsuario.docUsuario}}</td>
      <td>{{idUsuario.nombreUsuario}}</td>
      <td>{{idUsuario.telUsuario}}</td>
      <td>{{idUsuario.emailUsuario}}</td>
    </tr>
    {{/each}}
</table>